@font-face {
  font-family: 'harrypotter';
  src: url(/HARRYP__.TTF);
}
@font-face {
  font-family: 'magic';
  src: url(/SEVESBRG.TTF);
}
@font-face {
  font-family: 'gothic';
  src: url(/SEVESBRG.TTF);
}

.Central {
  &__page {
    height: 100vh;
    margin-left: 1%;
    margin-right: 2%;
    font-style: normal;
    font-family:
      verdana,
      arial narrow,
      helvetica,
      sans-serif;

    &__title {
      margin-top: 1.67rem;
      margin-bottom: 1.5rem;
      font-weight: normal;
      font-size: 2em;
      font-family: 'gothic';
    }

    &__footer {
      font-weight: bold;
      font-size: 80%;
      text-align: center;
      font-family: 'magic' ;
      margin-top: 1.67rem;
      border-style:groove;
      border-width: 5px;
      border-color: black;

      &__release {
        text-transform: uppercase;
        text-align: center;
      }

      &__copyright {
        margin-top: 1.67rem;
      }
    }
  }
}
